*{
    background-color:#D6E3F1;
}

QLineEdit { background-color:white; }
QPushButton {
    background-color : white;
    border: 1px solid black;
}

#lineEdit{
    border-style:none;
    background-color: #D6E3F1;
}


QLineEdit:focus {
    border-width: 2px;
    border-style: solid;
    border-color: #5F39B9;
}

QPushButton:hover {
  background-color: #5590CE;
  color: white;
}

QPushButton:pressed {
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #2A4C71, stop: 1 #2A4C71);
}
